body{
  background-image: 
  /*如果是網路圖片則要有完整網址，如果和 CSS 檔案放在同一個資料夾，就只要檔案名就好了*/
  /*方格*/
  /*url(Backgrounds033.jpg);*/
  /*白色*/
  url(White2.jpg);
  /*灰色*/
  /*url(background-cement-concrete.jpg);*/
  
  /* background-color: lightblue;*/ /*#CCD6DD;*/
  /*min-height: 500px*/
 background-attachment: scroll; /* (Set background image to fixed or scroll along with the page) */
 /*background-position: center*/ /*right top;*/
 background-repeat: no-repeat;  /*Set the background image to no repeat */
 background-size: cover; /* Scale the background image to be as large as possible */
}

h,h1,h2,h3 {
  font-weight: bold;
  text-align:center;
}

.reveal .slides section .no-column {
  width: 96%;
}
.reveal .slides section .left {
  float: left;
  text-align: left;
  width: 48%;
}
.reveal .slides section .rigth {
  float: right;
  text-align: left;
  width: 48%;
}

/* 下面這個寫法格式會跑掉
#left {
  left:-8.33%;
  text-align: left;
  float: left;
  width:45%;
  z-index:-10;
}

#right {
  left:31.25%;
  top: 75px;
  float: right;
  text-align: left;
  z-index:-10;
  width:45%;
}
*/

/*

.left { 
  float: left; 
  margin-right: 10px; 
  alignment-adjust: central;
}

*/


/* 下面用來做表格斑馬紋 */
table {
  margin: auto;
  border-collapse: separate;
  width: 100%;
  border: 0;
  border-spacing: 0;
}
th, td {
  padding: 0.25rem;
  text-align: left;
  border: 0; /* solid #ccc;*/
  /* border-radius: 200px; */ 
}
tbody tr:nth-child(odd) {
  background: rgba(210,233,255, 0.3);
}

/*
td:first-child{
  border-top-left-radius: 200px;
  border-bottom-left-radius: 200px;
  background: rgba(210,233,255);
}
td:last-child{
  border-top-right-radius: 200px;
  border-bottom-right-radius: 200px;
}
*/
